@charset "UTF-8";
/* reset */
* { margin: 0; padding: 0; box-sizing: border-box; } 
a { text-decoration: none; } 
/* 4페이지 배경색 */
body.member1 {background-color: #ebfaff;}
body.member2 {background-color: #edffeb;}
body.member3 {background-color: #fff3fd;}
body.member4 {background-color: #f5f0ff;}

section { width: 340px; padding: 30px; background-color: #fff; margin: 50px auto; box-shadow: 10px 10px 30px rgba(0,0,0,0.1); border-radius: 10px; } 
section article.profile { width: 100%; text-align: center; } 
section article.profile img { width: 200px; height: 200px; border-radius: 50%; margin-bottom: 20px; } 
section article.profile h1 { font-weight: bold; font-size: 22px; font-family: "arial"; color: #555; margin-bottom: 5px; } 
section article.profile h2 { font-weight: normal; font-size: 12px; font-family: "arial"; color: #bbb; margin-bottom: 30px; } 
section a.btnView { display: block; width: 180px; height: 32px; line-height: 32px; text-align: center; margin: 0 auto 20px; /* 상단, 좌우, 하단*/
 background-color: #444; border-radius: 16px; font-weight: bold; font-size: 10px; font-family: "arial"; color: #fff; } 

/* 맴버별 링크 */

section nav.others { width: 100%; text-align: center; } 
section nav.others a { display: inline-block; width: 30px; height: 30px; border-radius: 50%; margin: 0 10px; opacity: 0.4; } 
section nav.others a.on { opacity: 1; filter:saturate(1); /* 채도 100% */ }
section nav.others a:nth-of-type(1) { background-color: #35e0f7; box-shadow: 5px 5px 10px rgba(74,255,255,0.7); } 
section nav.others a:nth-of-type(2) { background-color: #55f5cd; box-shadow: 5px 5px 10px rgba(85,245,178,0.7); } 
section nav.others a:nth-of-type(3) { background-color: #ff80df; box-shadow: 5px 5px 10px rgba(255,128,223,0.7); } 
section nav.others a:nth-of-type(4) { background-color: #a794fd; box-shadow: 5px 5px 10px rgba(167,148,253,0.7); } 

/* 맴버별 스타일 - 사진, 버튼 */

/* member1 */
body.member1 section article.profile img { box-shadow: 5px 15px 30px rgba(173,216,230,0.8); /* x, y, 퍼지는효과, r, g, b, 투명도 */ }
body.member1 section a.btnView { background: linear-gradient(45deg, #4affff, #35e0f7); box-shadow: 5px 10px 20px rgba(0,255,255,0.5); } 
/* member2 */
body.member2 section article.profile img { box-shadow: 5px 15px 30px #bdccb783; /* x, y, 퍼지는효과, r, g, b, 투명도 */ }
body.member2 section a.btnView { background: linear-gradient(45deg, #a0ff9d, #55f5b2); box-shadow: 5px 10px 20px rgba(33,250,105,0.5); } 
/* member3 */
body.member3 section article.profile img { box-shadow: 5px 15px 30px rgba(252,99,214,0.2); /* x, y, 퍼지는효과, r, g, b, 투명도 */ }
body.member3 section a.btnView { background: linear-gradient(45deg, #ef74ff, #ff11c4); box-shadow: 5px 10px 20px rgba(255,17,196,0.4); } 
/* member4 */
body.member4 section article.profile img { box-shadow: 5px 15px 30px rgba(183,82,250,0.2); /* x, y, 퍼지는효과, r, g, b, 투명도 */ }
body.member4 section a.btnView { background: linear-gradient(45deg, #8e74ff, #a011ff); box-shadow: 5px 10px 20px rgba(160,17,255,0.4); } 